.git
.gitignore
.env
.env.*
!.env.example
node_modules
vendor
npm-debug.log
Dockerfile.*
docker-compose*.yml
tests
.phpunit.result.cache
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
database/database.sqlite
*.md
!README.md
!CAPROVER.md
.idea
.vscode
.cursor
terminals
